
#grid {
    background-color: white;
    border: 1px solid black;
} 

.container {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 600px;
    width: 600px;
}
