* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  background-color: lightblue;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 25px;
  height: 25px;
  border: solid black 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
