* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  background-color: lightblue;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 500px;
  height: 400px;
  border: solid orange 10px;
}

.cell {
  height: 20px;
  width: 20px;
  flex-shrink: 2;
  background-color: white;
  border: solid black 2px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border: solid;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
